altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
future==0.18.2
h11==0.12.0
httpcore==0.12.3
httpx==0.16.1
idna==2.*
macholib==1.14
modulegraph==0.18
pefile==2019.4.18
py2app==0.23
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
python-slugify==4.0.1
python-status==1.0.1
pywin32-ctypes==0.2.0
requests==2.25.1
rfc3986==1.4.0
simple-rest-client==1.0.8
sniffio==1.2.0
text-unidecode==1.3
urllib3==1.26.3
pipenv==2018.10.13
